.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__like-button {
  background-image: url(../images/Union.svg);
  height: 23px;
  width: 20px;
  border-style: none;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 40%;
  padding: 8px 16px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin: 0;
  padding: 0;
}

.card__image {
  border-radius: 8px;
}

.card__title {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
