.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 413px);
  gap: 40px 20px;
  justify-content: center;
  padding-top: 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  padding-bottom: 30px;
}
