.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__add-btn {
  margin-left: auto;
  border-style: none;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px 18px 32px;
  gap: 8px;
  background-color: #212121;
  color: #fcf5ef;
  padding-bottom: 10px;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn {
  margin-top: auto;
  gap: 8px;
  opacity: 70%;
  border-style: none;
  background-color: transparent;
  justify-content: space-between;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500px;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  opacity: 70%;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-style: normal;
  right: 10px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 12px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }
  .profile__add-btn {
    margin: 0;
    width: 100%;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }
}
